*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width:400px;
    height:400px;
    color:#fff;
    border-radius: 8px;
    box-shadow: 0 0 10px yellow;
    background-color: darkcyan;
    font-size: 15px;
}
.container h1{
    margin:10px;
    margin-left: 50px;
}
.container p{
    margin:10px;
}
.content h3{
    margin:10px;
    margin-left:40%;
}
input{
    width:300px;
    height:30px;
    margin-left:40px;
    border-radius: 8px;
    padding:10px;
}
button{
    margin-left:50px;
    margin-top:30px;
    border-radius: 15px;
    height:35px;
    width:300px;
}
h2{
    margin:10px;
    display:none;
}