*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;       
    background-color: #f2f2f2; 
}

.container{
    width:350px;
    height:auto;
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px #999;
    background-color: #fff;
}

h1{
    margin:20px;
}
h3{
    margin:10px;
}
input{
    width:250px;
    height:35px;
    border-radius: 8px;
    font-size: 20px;
    padding: 8px 12px;
    margin-bottom: 10px;
}

button{
    width:90px;
    height:40px; 
    padding:10px;
    border-radius: 12px;
    display:flex;
    align-items: center;
    font-size: 20px;
    color:#fff;
    margin:10px;
    position: relative;
    left:35%;
    background-color: rgb(32, 139, 32);
}
.option{
    display:flex;
}
select {
    width: 80px;
    height: 40px;
    font-size: 15px;
    padding: 6px 10px;
    border-radius: 8px;
}
