*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
.quiz-container{
    width:350px;
    background-color: #fff;
    height: auto;
    padding:20px;
    border-radius: 8px;
    margin: 80px auto;
    box-shadow: 0 0 10px #999;
}
.question{
    display:none;
}
#q1{
    display:block;
}

.next-btn{
    padding:8px 15px;
    background-color: #4CaF50;
    border-radius: 4px;
    color:#fff;
    text-decoration: none;
    position: relative;
    left:65%;
    margin-top: 10px;   
    display: inline-block;
    cursor: pointer;
}

.prev-btn{
    padding:8px 15px;
    background-color: #4CaF50;
    border-radius: 4px;
    color:#fff;
    text-decoration: none;
    position: relative;
    left:5%;
    margin-top: 10px;   
    display: inline-block;
    cursor: pointer;
}

.option {
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 6px;
}

.option:hover {
    background-color: #f5f5f5;
}

.option.selected {
    background-color: #cce5ff;
    border-color: #007bff;
}